{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Add a new topic:</h2>
{% endblock page_header %}

{% block content %}
  <!-- This makes the page send all the data entered in the form back to
    the new_topic() views function as a POST request. Basically calling itself.
    We remember that the new_topic() view function has an IF statement
    checking whether the request is POST or something else (likely GET). When
    you first access the form, it sends you here. When you complete the form,
    it sends the request back to its view function, but this time with a POST
    request. The new_topic() view function will then save the form if it is
    valid, or send you back here if it is invalid.-->
  <form method='post' action="{% url 'learning_logs:new_topic' %}" class="form">
    {% csrf_token %}
    <!-- This takes the 'form':form from the context dictionnary given by the
      view function new_topic(), and renders it using the 'bootstrap_form'
      template.-->
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Add topic</button>
    {% endbuttons %}
  </form>

{% endblock content %}
